@import url('https://fonts.googleapis.com/css?family=Germania+One');
header{
    height: 128px;
    width: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 14pt;
    z-index: 1;
}

#headLeft{
    float: left;
    height: 100%;
}
#headLeft img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    cursor: pointer;
}
#navbar{
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#menuButton{
    display: none;
}
#navList{
    list-style: none;
    display: flex;
    flex-direction: row;
}
#navList li{
    padding-left: 0.5em;
    padding-right: 0.5em;
    cursor: pointer;
}

#menuResp {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    height: 128px;
    color: white;
    left: 0px;
    width:100%;
    text-align: center;
}

#menuResp ul{
    list-style: none;
    font-size: 14pt;
}

#navListResp li{
    cursor: pointer;
}

html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    font-family: 'Germania One', cursive;
    background-repeat: repeat;
}

#main1{
    height: 512px;
    width: 100%;
    left: 0px;
    padding-top: 128px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

#main2{
    font-size: 20pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 4px solid black;
}

#main2 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#main2 li{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 728px){
    #menuButton{
        display: block;
        cursor: pointer;
        float: right;
    }
    #navList{
        display: none;
    }
    #menuResp{
        display: block;
        position: fixed;
        top: -128px;
    }
}









